# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.amx

# Log files
*.txt
*.log

# Test server
*.cfg
scriptfiles/
plugins/
gamemodes/*.amx
filterscripts/
compiler/
!.vscode/tasks.json
commit.bat